
<html lang="en">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Galway Art by Cathy Hughes</title>

    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">

  </head>

  <body>

 

    <div class="container">

      <h1>Header</h1>

      <hr />

   
      <div class="span-6">
  
        First column here
   
      </div>
   
       
   
      <div class="span-12">
   
        Second column (main content)
   
      </div>
   
       
   
      <div class="span-6 last">
  
        Third column
  
      </div>

 


 

      <hr />

      <div>Footer</div>

 

    </div>

 

  </body>

</html>
